.idea

# exclude everything in data folders
data/raw/*
data/external/*
data/interim/*
data/processed/*
data/result/potential_clients/*

# exception to the rule
!data/raw/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/result/potential_clients/.gitkeep
